:root {
    /* Notebooks */
    --color-notebooks-background: #ffffff;
    --color-notebooks-text: #959da5;
    --color-notebooks-text-active: #2f363d;
    --color-notebooks-border: #e1e4e8;
    /* Notes list */
    --color-notelist-background: #f6f8fa;
    --color-notelist-background-active: #e8eaed;
    --color-notelist-text: #586069;
    --color-notelist-text-active: #2f363d;
    --color-notelist-border: #e1e4e8;
    /* Note */
    --color-note-background: #ffffff;
    --color-note-background-active: #f6f8fa;
    --color-note-text: #24292e;
    --color-note-text-1: #6f42c1;
    --color-note-text-2: #e36209;
    --color-note-text-3: #005cc5;
    --color-note-text-4: #d73a49;
    --color-note-text-5: #22863a;
    /**/
    --color-bedge-background: #2188ff;
    --color-bedge-text: #ffffff;
    --color-button-background: #159739;
    --color-button-text: #ffffff;
    --color-link: #0366d6;
}

.sidebar {
    background-color: var(--color-notebooks-background);
}

.item-list.note-list {
    background-color: var(--color-notelist-background);
}

.item-list.note-list a>span {
    color: var(--color-notelist-text);
}