:root {
    /* Notebooks */
    --color-notebooks-background: #24292e;
    --color-notebooks-text: #6a737d;
    --color-notebooks-text-active: #e1e4e8;
    --color-notebooks-border: #1b1f23;
    /* Notes list */
    --color-notelist-background: #1f2428;
    --color-notelist-background-active: #282e34;
    --color-notelist-text: #d1d5da;
    --color-notelist-text-active: #e1e4e8;
    --color-notelist-border: #1b1f23;
    /* Note */
    --color-note-background: #24292e;
    --color-note-background-active: #2b3036;
    --color-note-text: #e1e4e8;
    --color-note-text-1: #b392f0;
    --color-note-text-2: #ffab70;
    --color-note-text-3: #79b8ff;
    --color-note-text-4: #f97583;
    --color-note-text-5: #85e89d;
    /**/
    --color-bedge-background: #0366d6;
    --color-bedge-text: #ffffff;
    --color-button-background: #176f2c;
    --color-button-text: #dcffe4;
    --color-link: #79b8ff;
}

.sidebar {
    background-color: var(--color-notebooks-background);
}

.item-list.note-list {
    background-color: var(--color-notelist-background);
}

.item-list.note-list a>span {
    color: var(--color-notelist-text);
}